
<%= link_to new_docente_path, class: "btn btn-info btn-sm mb-3" do %>
  Registrar docente
  <%= fa_icon "plus" %>
<% end %>

<table class="table table-respnsive">
    <tr>
      <thead class="thead-dark">
        <th>Nombre:</th>
        <th>Apellido:</th>
        <th>Email:</th>
        <th>Acciones:</th>
      </thead>
    </tr>
  <% @docentes.each do |docente|  %>
    <tr>
      <td> <%= docente.nombre %> </td>
      <td> <%= docente.apellido %> </td>
      <td> <%= docente.email %> </td>
      <td>
        <%= link_to docente_path(docente), class:"btn btn-success btn-sm" do %>
          <%= fa_icon "eye" %>
          Mostrar
        <% end %>

        <%= link_to edit_docente_path(docente), class: "btn btn-warning btn-sm" do %>
          <%= fa_icon('pencil') %>
          Editar
        <% end %>

        <%= link_to docente_path(docente),method: :delete,class: "btn btn-danger btn-sm", data: {confirm:"¿Desae eliminar este docente?"} do %>
          <%= fa_icon "trash" %>
          Eliminar
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
