<%= form_for @docente do |d| %>
  <div >
    <%= d.label :nombre %>
    <%= d.text_field :nombre %>
  </div>
  <div >
    <%= d.label :apellido %>
    <%= d.text_field :apellido %>
  </div>
  <div >
    <%= d.label :Email %>
    <%= d.text_field :email %>
  </div>
  <div >
      <%= d.submit %>
  </div>
<% end %>
