<%= link_to new_docente_materia_path(@docente,@materia), class: "btn btn-info btn-sm mb-3" do %>
  Registrar Materia
  <%= fa_icon "plus" %>
<% end %>

<h1>Datos del docente</h1>

<p>
  <strong>Nombre:</strong>
  <%= @docente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @docente.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @docente.email %>
</p>

<%= link_to  "Todos los docentes", docentes_path, class: "btn btn-primary" %>
<%= link_to  "Materias", docente_materias_path(@docente), class:"btn btn-primary ml-1" %>
