<tr>
  <td>
    <%= link_to anotacion.fecha, estudiante_anotacion_path(@estudiante, anotacion) %>
  </td>
  <td>
    <%= anotacion.titulo%>
  </td>
  <td>

    <%= link_to  edit_estudiante_anotacion_path(@estudiante, anotacion), class: "btn btn-warning btn-sm" do %>
      <%= fa_icon('pencil') %>
      Editar
    <% end %>

    <%= link_to estudiante_anotacion_path(@estudiante, anotacion), class: "btn btn-danger btn-sm" , method: :delete, data: {confirm: "Ojo!!"} do %>
      <%= fa_icon "trash" %>
      Eliminar
    <% end %>


  </td>
</tr>
