<h3>Anotaciones del Alumno(a) <%= @estudiante.nombre %>  <%= @estudiante.apellido %></h3>


<%= link_to new_estudiante_anotacion_path(@estudiante,@anotacion), class: "btn btn-info btn-sm mb-3" do %>
  Nueva Anotacion
  <%= fa_icon "plus" %>
<% end %>

<table class="table">
  <tr>
    <th>Fecha</th>
     <th>Anotacion</th>
     <th>Acciones</th>
  </tr>


  <%= render @anotaciones %>


</table>
