<%= form_for @estudiante do |e| %>
  <div >
    <%= e.label :nombre %>
    <%= e.text_field :nombre %>
  </div>
  <div >
    <%= e.label :apellido %>
    <%= e.text_field :apellido %>
  </div>
  <div >
    <%= e.label :telefono %>
    <%= e.text_field :telefono %>
  </div>
   <div >
    <%= e.label :direccion %>
    <%= e.text_field :direccion %>
  </div>
   <div >
    <%= e.label :correo %>
    <%= e.text_field :correo %>
  </div>
  <div >
      <%= e.submit %>
  </div>
<% end %>