<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @estudiante do |f| %>
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :telefono %>
    <%= f.input :direccion %>
    <%= f.input :correo %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
