<h1>Estudiantes#show</h1>
<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @estudiante.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @estudiante.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @estudiante.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @estudiante.correo %>
</p>

<%= link_to  "Todos los estudiantes", estudiantes_path %>