

<%= link_to new_estudiante_anotacion_path(@estudiante,@anotacion), class: "btn btn-info btn-sm mb-3" do %>
  Registrar Anotacion
  <%= fa_icon "plus" %>
<% end %>

<h1>Datos del Estudiante</h1>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @estudiante.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @estudiante.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @estudiante.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @estudiante.correo %>
</p>

<%= link_to  "Todos los estudiantes", estudiantes_path, class: "btn  btn-primary" %>
<%= link_to  "Anotaciones", estudiante_anotaciones_path(@estudiante), class: "btn  btn-primary ml-1"  %>
